*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(./cap.jpg), linear-gradient(to right,rgba(4,9,30,0.7),rgba(4,9,30,0.5));
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    padding: 2% 6%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
    display: inline-block;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.text-box{
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
    word-spacing: 10px;
    
}
.text-box h1{
    color: white;
    font-size: 42px;
}
.text-box p{
    margin: 10px 0;
    font-size: 25px;
    color: white;
    text-shadow: 0px 5px 5px black;
    text-transform: capitalize;

}
.text-box h1 span{
    color: rgb(233, 84, 84);
    text-shadow: 0px 5px 5px black;
}
.cvs{

    height: auto;
    background-color: red;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
.cvs a{
    text-decoration: none;
    color: white;
}
nav .fa{
    display: none;
}
.nav-links .image{
    display: none;
}
/*about section*/
.about{
    width: 80%;
    margin: auto;
    }
    .row{
        display: flex;
        margin-top: 5%;
        justify-content: space-between;
    }
.row .col{
    flex-basis: 50%;
    padding: 25px 12px;
    box-sizing: border-box;
    margin-bottom: 5%;
}
.col .content-1{
    padding: 10px;
    text-transform: capitalize;  
}
.content-1 h3{
    font-size: 25px;
}
.content-1 p{
    margin-top: 10px;
    text-align: justify;
}
.content-1 span{
    color: red;
}
.content-1 h1{
    margin-top: 25px;
}
.content-1 ul li{
    margin: 10px;
    font-size: 18px;
    color: red;    
}

.col .content-2{
    padding-left: 10px;
}
.col img{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
/*projects*/
.projects{
    width: 80%;
    margin: auto;
    }
    .rows   {
        display: flex;
        margin-top: 5%;
        justify-content: space-between;
    }
    .rows .cols{
        margin: 4px;
        flex-basis: 45%;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
    }
    .cols img{
        width: 100%;
        height: 200px;
        display: block;
    }
    .cols .cap{
        text-align: center;
        text-transform: capitalize;
        background-color: rgb(223, 216, 216);
    }
    .cols .cap a{
        text-decoration: none;
    }
    .cap h3{
        font-size: 20px;
        color: red;
        margin-top: 10px;
        text-shadow: 0 5px 5px grey;
    }
    .cap p{
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        padding: 12px;
        color: black;
    }
    .cols:hover{
        box-shadow: 3px 5px 5px 2px rgba(122,119,119,0.75);
        -webkit-box-shadow: 3px 5px 5px 2px rgba(122,119,119,0.75);
        -moz-box-shadow: 3px 5px 5px 2px rgba(122,119,119,0.75);    
    }
    .socials{
        color: white;
        display: none;
    }
    /*contact*/
    .contact{
        width: 80%;
        margin:  auto;
        padding: 20px;
        
    }
    .contact .rowse{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 10%;
    }
    
    .form {
        border: 1px solid yellowgreen;
        padding: 20px;
        width: 70%;
    }
    .form input,.form  textarea{
        width: 100%;   
        border: none; 
        padding: 10px ;
        margin-bottom: 15px;
        outline: none;
        box-sizing: border-box;
        background-color: #dfdbdb;

    }
    .btn{
        background: limegreen;
        padding: 10px 15px;
        border-style: none;
        border-radius: 5px;
    }
    /*footer*/
    .footer{
        width: 100%;
        height: auto;
        background: black;
    }
    .links{
        padding: 10px;
        text-align: center;
    }
    .links h3{
        color: blanchedalmond;
        text-transform: capitalize;
        padding-bottom: 5px;
    }
    .links .linked{
        color: red;
        font-size: 25px;
        margin-right: 12px;
        margin-top: 5px;
        
    }

@media (max-width:700px){
    .nav-links ul li{
        display: block;
        margin: 20px 0;
    }

    .nav-links .image{
        margin-left: 60px;
        margin-top: 20px;
        display: block;

        }
    .nav-links .image img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .nav-links .image .caption{
        color: red;
        margin-top: 10px;
    }
    .nav-links ul{
        margin-top: 20px;
        margin-left: 50px;
        padding: 0 10px;
    }
    .nav-links .fac{
        display: block;
        color: white;
        position: absolute;
        background-color: red;
        padding: 5px;
        left: 0;      
        width: 20px;
    }
    nav .fas{
        margin-top: 15px;
        margin-left: -8px;
        display: block;
        color: white;
        background-color: red;
        padding: 5px;
        font-size: large;
        position: fixed;
    }
    nav .icons{
        display: inline-block;
    }
    .text-box h1{
        font-size: 25px;
        margin-left: 0px;
    }
    .fac{
        color: white;
        position: absolute;
        right: 0;
        padding: 5px 25px;
    }
    .nav-links .social{
        margin:0 20px;
    }
    .nav-links .socials{
        display: inline-block;
        padding: 10px;
        font-size: 25px;
        }
    .text-box p{
        color: white;
    }
    .nav-links{
        position: fixed;
        background-color: rgb(39, 39, 39);
        height: 100vh;
        width: 250px;
        top: 0;
        left: -250px;
        text-align: left;
        transition: 1s;
        z-index: 2;
    }

    .nav-links ul a:hover{
        background-color: white;
        color: red;
        border: 2px solid black;
        padding: 5px 15px;
        border-radius: 10px;
        box-shadow: 0 5px 3px rgb(66, 65, 65),5px 0 3px rgb(66, 65, 65),-5px 0 3px rgb(66, 65, 65),0 -5px 3px rgb(66, 65, 65);
    }
    .socials:hover{
        color: red;
    }
    
    /*about*/
    .row{
        flex-direction: column;
    }
    .col-1{
        flex-basis: 40%;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
    }
    /*projects*/
    .rows{
        flex-direction: column;
    }
}






